@model HostelManagement.Areas.HostelMessManagement.Models.SearchViewModel
@using HostelManagement.Areas.HostelMessManagement.Models
@{
    ViewBag.Title = "ChangeFees";
}

<div class="row">
    <div class="col-sm-6">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <h2 class="text-center">Change Hostel Fees</h2>
            </div>
        </div>
        <hr />

        @using (Ajax.BeginForm("ChangeFees", null, new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "feeChangeDiv" }, new { }))
        {
            <div class="row">
                <div class="form-group col-sm-3 col-sm-offset-3">
                    @Html.LabelFor(m => m.hostelType)
                    @Html.DropDownListFor(m => m.hostelType, (SelectList)ViewBag.hostelTypeList, "Select", new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.hostelType)
                </div>
                <div class="form-group col-sm-3">
                    @Html.LabelFor(m => m.roomType)
                    @Html.DropDownListFor(m => m.roomType, (SelectList)ViewBag.roomTypeList, "Select", new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.roomType)
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-offset-4 col-sm-4">
                    <input type="submit" class="btn-block btn btn-primary" id="searchButtonId" />
                </div>
            </div>
        }
        <div class="row">
            <div class="form-group col-sm-8 col-sm-offset-3">
                <div id="feeChangeDiv">

                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <h2 class="text-center">Change Mess Fees</h2>
            </div>
        </div>
        <hr />
        @Html.Partial("_MessFeeChange", (MessChargesViewModel)ViewBag.messChargesModel)
    </div>

</div>

<script>
    function getParameterByName(name, url) {
        if (!url) url = window.location.href;
        name = name.replace(/[\[\]]/g, "\\$&");
        var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
            results = regex.exec(url);
        if (!results) return null;
        if (!results[2]) return '';
        return decodeURIComponent(results[2].replace(/\+/g, " "));
    }
    $(document).ready(function () {
        if (getParameterByName('gender') && getParameterByName('roomType1')) {
            $("#searchButtonId").trigger("click");
        }
    });
</script>