@model HostelManagement.Areas.HostelMessManagement.Models.DisplayStudentViewModel

<div>
    @Html.LabelFor(m => m.name)
    @Html.DisplayFor(m => m.name)
</div>
<div>
    @Html.LabelFor(m => m.usn)
    @Html.DisplayTextFor(m => m.usn)
</div>
<div>
    @Html.LabelFor(m => m.gender)
    @Html.DisplayTextFor(m => m.gender)
</div>
<div>
    @Html.LabelFor(m => m.course)
    @Html.DisplayTextFor(m => m.course)
</div>
<div>
    @Html.LabelFor(m => m.semester)
    @Html.DisplayTextFor(m => m.semester)
</div>
<div>
    @Html.LabelFor(m => m.branch)
    @Html.DisplayTextFor(m => m.branch)
</div>
<div>
    @Html.LabelFor(m => m.year)
    @Html.DisplayTextFor(m => m.year)
</div>
<div>
    @Html.LabelFor(m => m.dob)
    @Html.DisplayTextFor(m => m.dob)
</div>
<div>
    @Html.LabelFor(m => m.blockNumber)
    @Html.DisplayTextFor(m => m.blockNumber)
</div>
<div>
    @Html.LabelFor(m => m.roomNumber)
    @Html.DisplayTextFor(m => m.roomNumber)
</div>
<div>
    @Html.LabelFor(m => m.floorNumber)
    @Html.DisplayTextFor(m => m.floorNumber)
</div>
<div>
    @Html.LabelFor(m => m.roomType)
    @Html.DisplayTextFor(m => m.roomType)
</div>
<div>
    @Html.LabelFor(m => m.doj)
    @Html.DisplayTextFor(m => m.doj)
</div>
