@model HostelManagement.Areas.HostelMessManagement.Models.AddAdditionalFeeViewModel
@{
    ViewBag.Title = "AddAdditionalFee";
}

<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <h2 class="text-center">Add Additional Fee</h2>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-3 col-md-offset-5">

        @using (Ajax.BeginForm("AddAdditionalFee", "User", null, new AjaxOptions { HttpMethod = "POST", OnSuccess = "DisplaySuccess", UpdateTargetId = "addFeeUpdateID", InsertionMode = InsertionMode.Replace }, new { id = "AddAddtionalFeeForm" }))
        {
            <div class="row">
                <div class="form-group">
                    @Html.LabelFor(m => m.bid)
                    @Html.TextBoxFor(m => m.bid, new { @class = "form-control", id="bidID" })
                    @Html.ValidationMessageFor(m => m.bid)
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.amount)
                    @Html.TextBoxFor(m => m.amount, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.amount)
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.description)
                    @Html.TextBoxFor(m => m.description, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.description)
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.year)
                    @Html.TextBoxFor(m => m.year, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.year)
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <input type="submit" class="btn btn-primary btn-block" />
                </div>
            </div>
        }

        <div id="addFeeUpdateID">

        </div>
    </div>
</div>
<script type="text/javascript">
    function DisplaySuccess() {
        if (data.indexOf("field-validation-error") > -1) return;
        alert("Additional Fee Added Successfully!");
        document.getElementById("AddAddtionalFeeForm").reset();
    }
    $(document).ready(function () {
        $('#bidID').autocomplete({
            source: '@Url.Action("GetStudentList", "User")'
        }).data("ui-autocomplete")._renderItem = function (ul, item) {
            return $("<li>")
            .append("<a>" + item.label + " (" + item.gender + ")" + "<br>Dept:" + item.dept + ",Sem:" + item.sem + "</a>")
            .appendTo(ul);
        };;
    })
</script>
