@model HostelManagement.Areas.HostelMessManagement.Models.StudentViewModel
@{
    ViewBag.Title = "AddStudent";
}

<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <h2 class="text-center">Add Student</h2>
    </div>
</div>
<hr />

<div class="row">
    <div class="col-xs-2">

    </div>
    <div class="col-xs-8">
        @using (@Ajax.BeginForm("AddStudent", "User", null, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "addStudentUpdateDiv", OnSuccess = "showModal" }))
        {
            <div class="row">
                <fieldset class="form-group">
                    <h4>Personal Information</h4>
                    <div class="form-group col-xs-3">
                        @Html.LabelFor(m => m.name)
                        @Html.TextBoxFor(m => m.name, new { @class = "form-control" })
                        <div class="text-danger">
                            @Html.ValidationMessageFor(m => m.name)
                        </div>
                    </div>
                    <div class="form-group col-xs-3">
                        @Html.LabelFor(m => m.usn)
                        @Html.TextBoxFor(m => m.usn, new { @class = "form-control" })
                        <div class="text-danger">
                            @Html.ValidationMessageFor(m => m.usn)
                        </div>
                    </div>
                    <div class="form-group col-xs-3">
                        @Html.LabelFor(m => m.gender)
                        <div>
                            <label class="radio-inline">@Html.RadioButtonFor(m => m.gender, 1, new { @class = "", id = "genderDropDownID" }) Male</label>
                            <label class="radio-inline">@Html.RadioButtonFor(m => m.gender, 2, new { @class = "", id = "genderDropDownID" }) Female</label>
                        </div>
                        @*@Html.DropDownListFor(m => m.gender, new SelectList(ViewBag.genderList, "Value", "Text"), "Select", new { @class = "form-control", id = "genderDropDownID" })*@
                        <div class="text-danger">
                            @Html.ValidationMessageFor(m => m.gender)
                        </div>
                    </div>
                    <div class="form-group col-xs-3">
                        @Html.LabelFor(m => m.dob)
                        @Html.TextBoxFor(m => m.dob, new { @class = "form-control", type = "date", id = "dobID" })
                        <div class="text-danger">
                            @Html.ValidationMessageFor(m => m.dob)
                        </div>
                    </div>
                    <div class="form-group col-xs-3">
                        @Html.LabelFor(m => m.email)
                        @Html.TextBoxFor(m => m.email, new { @class = "form-control" })
                        <div class="text-danger">
                            @Html.ValidationMessageFor(m => m.email)
                        </div>
                    </div>
                    <div class="form-group col-xs-3">
                        @Html.LabelFor(m => m.aadharNumber)
                        @Html.TextBoxFor(m => m.aadharNumber, new { @class = "form-control" })
                        <div class="text-danger">
                            @Html.ValidationMessageFor(m => m.aadharNumber)
                        </div>
                    </div>
                    <div class="form-group col-xs-3">
                        @Html.LabelFor(m => m.pan)
                        @Html.TextBoxFor(m => m.pan, new { @class = "form-control" })
                        <div class="text-danger">
                            @Html.ValidationMessageFor(m => m.pan)
                        </div>
                    </div>
                    <div class="form-group col-xs-3">
                        @Html.LabelFor(m => m.phoneNumber)
                        @Html.TextBoxFor(m => m.phoneNumber, new { @class = "form-control", type="number" })
                        <div class="text-danger">
                            @Html.ValidationMessageFor(m => m.phoneNumber)
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="row">
                <fieldset class="form-group">
                    <h4>Education Information</h4>
                    <div class="form-group col-xs-3">
                        @Html.LabelFor(m => m.course)
                        @Html.DropDownListFor(m => m.course, new SelectList(ViewBag.courseList, "Value", "Text"), "Select", new { @class = "form-control" })
                        <div class="text-danger">
                            @Html.ValidationMessageFor(m => m.course)
                        </div>
                    </div>
                    <div class="form-group col-xs-3">
                        @Html.LabelFor(m => m.semester)
                        @Html.TextBoxFor(m => m.semester, new { @class = "form-control" })
                        <div class="text-danger">
                            @Html.ValidationMessageFor(m => m.semester)
                        </div>
                    </div>
                    <div class="form-group col-xs-3">
                        @Html.LabelFor(m => m.branch)
                        @Html.DropDownListFor(m => m.branch, new SelectList(ViewBag.departmentList, "Value", "Text"), "Select", new { @class = "form-control" })
                        <div class="text-danger">
                            @Html.ValidationMessageFor(m => m.branch)
                        </div>
                    </div>
                    <div class="form-group col-xs-3">
                        @Html.LabelFor(m => m.year)
                        @Html.TextBoxFor(m => m.year, new { @class = "form-control" })
                        <div class="text-danger">
                            @Html.ValidationMessageFor(m => m.year)
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="row">
                <fieldset class="form-group">
                    <h4>Allotment Information</h4>
                    <div class="form-group col-xs-3">
                        @Html.LabelFor(m => m.blockNumber)
                        @Html.DropDownListFor(m => m.blockNumber, new SelectList(ViewBag.departmentList, "Value", "Text"), "Select", new { @class = "form-control", id = "blockNumberDropDownID" })
                        <div class="text-danger">
                            @Html.ValidationMessageFor(m => m.blockNumber)
                        </div>
                    </div>
                    <div class="form-group col-xs-3">
                        @Html.LabelFor(m => m.roomNumber)
                        @Html.DropDownListFor(m => m.roomNumber, new SelectList(ViewBag.departmentList, "Value", "Text"), "Select", new { @class = "form-control", id = "roomNumberDropDownID" })
                        <div class="text-danger">
                            @Html.ValidationMessageFor(m => m.roomNumber)
                        </div>
                    </div>
                    <div class="form-group col-xs-3">
                        @Html.LabelFor(m => m.floorNumber)
                        @Html.TextBoxFor(m => m.floorNumber, new { @class = "form-control", id = "floorNumberTextID" })
                        <div class="text-danger">
                            @Html.ValidationMessageFor(m => m.floorNumber)
                        </div>
                    </div>
                    <div class="form-group col-xs-3">
                        @Html.LabelFor(m => m.roomType)
                        @Html.TextBoxFor(m => m.roomType, new { @class = "form-control", id = "roomTypeTextID" })
                        <div class="text-danger">
                            @Html.ValidationMessageFor(m => m.roomType)
                        </div>
                    </div>
                    <div class="form-group col-xs-3">
                        @Html.LabelFor(m => m.doj)
                        @Html.TextBoxFor(m => m.doj, new { @class = "form-control", id = "dojID", type = "date" })
                        <div class="text-danger">
                            @Html.ValidationMessageFor(m => m.doj)
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="row">
                <fieldset class="form-group">
                    <h4>Fee Information</h4>
                    <div class="col-md-10 col-md-offset-1">
                        <div id="feeDisplayDiv">
                            Please fill the form above to view
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="row">
                <div class="form-group col-md-4 col-md-offset-2">
                    <input type="submit" class="btn btn-primary btn-block" />
                </div>
                <div class="form-group col-md-4">
                    <input type="reset" class="btn btn-block btn-default" />
                </div>
            </div>
        }
    </div>
    <div class="col-xs-2">
    </div>
</div>

<div id="resultModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Message</h4>
            </div>
            <div class="modal-body">
                <div id="addStudentUpdateDiv">

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
    function showModal() {
        $('#resultModal').modal('show');
    }
    $(document).ready(function () {
        if (!Modernizr.inputtypes.date) {
            $("#dojID").datepicker();
            $("#dobID").datepicker();
        }
        $("#blockNumberDropDownID").attr("disabled", "disabled");
        $("#roomNumberDropDownID").attr("disabled", "disabled");
        $("#floorNumberTextID").attr("disabled", "disabled");
        $("#roomTypeTextID").attr("disabled", "disabled");

    });
    $(":radio").change(function () {
        $("#blockNumberDropDownID").attr("disabled", "disabled");
        var gen = $("#genderDropDownID:checked").val();
        var url = "GetBlocks";
        var data = { "gender": gen };
        $.ajax({
            url: url,
            type: 'GET',
            dataType: 'JSON',
            data: { "gender": gen },
            success: function (blocks) {
                $("#blockNumberDropDownID").html("");
                var ch = 0;
                $.each(blocks, function (i, block) {
                    ch = 1;
                    $("#blockNumberDropDownID").append($('<option></option>').val(block.Text).html(block.Value));
                });
                if (ch == 1) {
                    $("#blockNumberDropDownID").removeAttr("disabled");
                    $("#blockNumberDropDownID").trigger("change");
                }
            }
        });
    });
    $("#blockNumberDropDownID").change(function () {
        $("#roomNumberDropDownID").attr("disabled", "disabled");
        var block = $("#blockNumberDropDownID :selected").text();
        var url = "GetRooms";
        $.ajax({
            url: url,
            type: 'GET',
            dataType: 'JSON',
            data: { "block": block },
            success: function (rooms) {
                $("#roomNumberDropDownID").html("");
                $.each(rooms, function (i, room) {
                    $("#roomNumberDropDownID").append($('<option></option>').val(room.Text).html(room.Value));
                });
                $("#roomNumberDropDownID").removeAttr("disabled");
                $("#roomNumberDropDownID").trigger("change");
            }
        });
    });
    $("#roomNumberDropDownID").change(function () {
        var room = $("#roomNumberDropDownID :selected").text();
        var block = $("#blockNumberDropDownID :selected").text();
        $("#floorNumberTextID").val(room.substring(0, 1));
        var url = "GetType";
        $.ajax({
            url: url,
            type: 'GET',
            dataType: 'JSON',
            data: { "room": room, "blockNumber": block },
            success: function (type) {
                $("#roomTypeTextID").val(type);
                $("#roomTypeTextID").trigger("change");
            }
        });
    });
    $("#roomTypeTextID").change(function () {
        var gender = $("#genderDropDownID:checked").val();
        var roomType = $("#roomTypeTextID").val();
        var url = "GetFeeBreakUp";
        $.ajax({
            url: url,
            type: 'GET',
            dataType: 'JSON',
            data: { "gender": gender, "roomType": roomType },
            success: function (val) {
                $("#feeDisplayDiv").html("");
                var content = "<table class=\'table table-striped\' style=\"margin-bottom:0\">"
                content += "<thead><tr><th>Fee Type</th><th>Amount (in INR)</th></tr></thead>"
                content += "<tbody><tr><td>Daily Mess</td><td>" + val[0] + "</td></tr>";
                content += "<tr><td>Rent</td><td>" + val[1] + "</td></tr>";
                content += "<tr><td>Fixed</td><td>" + val[2] + "</td></tr>";
                content += "<tr><td>Deposit</td><td>" + val[3] + "</td></tr>";
                content += "</tbody></table>"
                content += "<div class='row'><div class='col-md-2 pull-right'>"
                content += "<a class=\"btn btn-link\" href=\"/HostelMessManagement/Manager/ChangeFees?gender=" + gender + "&amp;roomType1=" + roomType + "\">Update Fees</a></div></div>";
                $("#feeDisplayDiv").append(content);
            }
        });
    });
</script>